Django==3.2.12
reportlab==3.6.12
djangorestframework==3.12.4  # Si usas Django REST framework
Pillow>=9.0.0               # Para manejo de imágenes en Django          # Para servir la aplicación en producción
